/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9c9696;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    flex: 1; 
    padding: 20px;
}

.logo {
    font-weight: 600;
    font-size: 1.5em;
}

.nav-links a,
.auth-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 400;
}

.nav-links a:hover,
.auth-links a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    font-weight: 600;
}

.dropdowns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.dropdowns select {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.dropdowns select:focus {
    border-color: #333;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: auto; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

.footer-content .left, .footer-content .right {
    flex: 1;
}

.footer-content .center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content .social-icons {
    display: flex;
    gap: 1rem;
}

.footer-content .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.footer-content .social-icons svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.app-links a {
    color: white;
    text-decoration: none;
}

.app-links a:hover {
    text-decoration: underline;
}
