/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2E9BD;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}


/* Estilizando o link "Cadastre-se" */
.auth-links a:nth-child(2) {
    background-color: #f0b70e; /* Cor de fundo padrão */
    color: #ffffff; /* Cor do texto padrão */
    padding: 10px 20px; /* Espaçamento interno do link */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Efeito hover para o link "Cadastre-se" */
.auth-links a:nth-child(2):hover {
    background-color: #e2b500; /* Cor de fundo quando o mouse está sobre o link */
    color: #fff; /* Cor do texto quando o mouse está sobre o link */
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 150px; /* Limitar a largura da logo */
    height: auto;
}

/* Links de navegação e autenticação */
.nav-links, .auth-links {
    display: flex;
    gap: 15px;
}

.nav-links {
    display: flex;
}

.nav-links a, .auth-links a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s, background-color 0.3s;
}

.menu-toggle {
    display: none; /* Ocultar o botão por padrão */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

.nav-links a:hover {
    text-decoration: none;
}

.auth-links a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
}

.auth-links a:nth-child(2) {
    background-color: #f0b70e; 
    color: #ffffff;
}

.auth-links a:nth-child(2):hover {
    background-color: #e2b500;
}

/* Conteúdo principal */
.content {
    flex: 1; 
    padding: 20px;
    margin-top: 60px; /* Compensa o header fixo */
}

/* Seção Hero */
.hero { 
    background-image: url('./img/fundo 01.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh; 
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s; /* Animação de zoom */

    /* Máscara para criar a transição suave na parte inferior */
    -webkit-mask-image: linear-gradient(to bottom, rgb(16, 16, 16) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
}

.hero:hover {
    transform: scale(1.05); /* Zoom ao passar o mouse */
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0 20px;
}

.sublinhado {
    position: relative; /* Para posicionar o pseudo-elemento */
    display: inline-block; /* Permite que o background se ajuste ao texto */
}

.sublinhado::after {
    content: ""; /* Necessário para criar o pseudo-elemento */
    position: absolute;
    left: 0; /* Alinha à esquerda do texto */
    bottom: 0; /* Posiciona na parte inferior */
    width: 100%; /* Largura igual à do texto */
    height: 5px; /* Altura do sublinhado */
    background: linear-gradient(to right, #f0b70e, #feb47b); /* Cores do gradiente */
    border-radius: 5px; /* Bordas arredondadas, se desejar */
    transform: scaleY(0.5); /* Ajusta a altura */
}

.hero-servicos { 
    background-image: url('./img/retrato-de-mulher-cantando-no-microfone_107420-96131.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh; 
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    /* Máscara para criar a transição suave na parte inferior */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
}

.hero-servicos h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0 20px;
}

/* Estilização da seção geral */
.paineis {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espaço entre os cards */
    flex-wrap: wrap; /* Faz os itens quebrarem para a linha de baixo em telas pequenas */
    margin: 20px;
    
}

/* Estilização dos cards individuais */
.card {
    display: flex;
    flex-direction: column; /* Coloca a imagem, texto e botão em uma coluna */
    align-items: center;
    width: 30%; /* Define a largura de cada card */
    background-color: #414040;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

/* Adiciona um efeito ao passar o mouse sobre o card */
.card:hover {
    transform: scale(1.05);
}

/* Estilização das imagens */
.image-register-service {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilização da legenda (figcaption) */
figcaption {
    font-size: 1.2em;
    color: #d8d7d7;
    text-align: center;
    margin: 10px 0;
}





/* Responsividade: ajusta a largura dos cards em telas menores */
@media (max-width: 768px) {
    .card {
        width: 45%; /* Reduz a largura dos cards para caber melhor */
    }
}

/* Seções com padding */
.py-5 {
    padding: 3rem 20px;
    text-align: center;
}

.py-5 .left-align {
    text-align: left; /* Adiciona uma classe para alinhar à esquerda */
}

.py-5 h2 {
    font-size: 2rem;
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
    margin-bottom: 1rem;
    text-align: left; /* Alinha o título à esquerda */
}

.py-5 p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0; /* Remove margens adicionais */
    max-width: 800px; /* Limitar a largura do texto */
    text-align: left; /* Alinha o parágrafo à esquerda */
}

/* Para garantir que a imagem e o texto não se sobreponham e que a imagem esteja alinhada corretamente */
.py-5 img {
    max-width: 100%; /* Garante que a imagem não exceda o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 20px; /* Adiciona um espaço acima da imagem se necessário */
    margin-left: 20px; /* Adiciona um espaço à esquerda da imagem, se necessário */
    margin-right: 600px;
}

.py-5 .row {
    display: flex; /* Utiliza flexbox para alinhar os itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

/* Para a imagem */
.papel-imagem img {
    width: 100%; /* A imagem ocupa 100% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaço abaixo da imagem */
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 90% 80%, 100% 60%, 100% 0); /* Define uma forma recortada elegante */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza a transformação */
}

/* Seção Sobre Nós */
.about-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 20px;
    margin: 0;
    gap: 20px; /* Espaçamento entre o texto e a imagem */
    background-color: #F2CA50;
}

.about-us-text {
    flex: 1;
    max-width: 50%;
    
}

.about-us-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
}

.about-us-text p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.about-us-image {
    flex: 1;
    max-width: 50%;
}

.about-us-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Seção Compartilhar Talento */
.share-talent {
    background-image: url('./img/fundo 02.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    color: white;
    margin:0;
    transition: background-image 1s ease;
}

.share-talent-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: rgba(24, 19, 19, 0.395);
    padding: 10px;
    display: inline-block;
}

.share-talent-info {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.share-talent-item {
    font-size: 1.2rem;
}

/* Estilização do botão */

.register-button {
    background-color: #f0b70e;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.register-button:hover {
    background-color: #e2b500;
}

/* Seção Depoimentos */
.testimonials {
    text-align: center;
    padding: 50px 20px;
    margin: 0;
    margin-top: 0;
    background-color: #F2CA50;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
}

.testimonial-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonial-item {
    background: #414040; /* Fundo do item */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 30%; /* Largura dos itens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Efeito ao passar o mouse */
.testimonial-item:hover {
    transform: translateY(-10px); /* Salta para cima */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
}

.testimonial-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.8rem;
}

.testimonial-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #ebebeb;
}

.testimonial-item p {
    font-size: 1rem;
    color: #d8d7d7;
}

/* Rodapé */
.footer {
    background-color: #f0b70e;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer-content .left, .footer-content .right {
    flex: 1;
}

.footer-content .center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content .social-icons {
    display: flex;
    gap: 1rem;
}

.footer-content .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.footer-content .social-icons svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.app-links a {
    color: white;
    text-decoration: none;
}

.app-links a:hover {
    text-decoration: underline;
}

/* Responsividade */
/* para tablets e telas menores */
@media (max-width: 992px) {
    .hero h1 {
        font-size: 2rem;
    }

    .about-us {
        flex-direction: column;
        text-align: center;
    }

    .about-us-text, .about-us-image {
        max-width: 100%;
        padding: 10px;
    }

    .testimonial-item {
        flex: 1 1 100%;
    }
}

/* para smartphones em modo paisagem */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .about-us-text h2 {
        font-size: 1.5rem;
    }

    .about-us-text p {
        font-size: 0.9rem;
    }

    .share-talent-content h2 {
        font-size: 1.5rem;
    }

    .testimonials h2 {
        font-size: 1.5rem;
    }

    .nav-links {
        display: none; /* Ocultar o menu por padrão */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Ajustar para que não sobreponha o navbar */
        left: 0;
        background-color: #333; /* Cor de fundo do dropdown */
    }

    .nav-links.active {
        display: flex; /* Mostrar o menu quando ativo */
    }

    .menu-toggle {
        display: flex; /* Mostrar o botão do menu hambúrguer */
    }
}

/* para smartphones em modo retrato */
@media (max-width: 576px) {
    .hero {
        padding: 15px 10px;
    }

    .hero h1 {
        font-size: 1.2rem;
    }

    .about-us-text h2 {
        font-size: 1.2rem;
    }

    .about-us-text p {
        font-size: 0.8rem;
    }

    .share-talent-content h2 {
        font-size: 1.2rem;
    }

    .testimonials h2 {
        font-size: 1.2rem;
    }

    .testimonial-item {
        flex: 1 1 100%;
    }
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do Header */
.navbar {
    background: rgba(51, 51, 51, 0.5); /* Cor de fundo transparente */
    color: white;
    padding: 10px 20px; /* Espaçamento interno ajustado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixar o menu no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garantir que o header esteja acima de outros elementos */
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}






/* Estilização do formulário */


form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

form input,
form select,
form textarea {

    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form textarea {
    resize: vertical;
}

/* Estilização do botão */

form button , .botao{
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #f0b70e; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #e2b500;
}


.container-geral{
    
    background-image: url('img/show.jpg');
    background-size: cover; /* Cobre toda a área */
    background-position: center; /* Centraliza a imagem */  
    

}

.container-geral-login {
    background-image: url('img/banda2.jpg');
    background-size: cover; /* Cobre toda a área */
    background-position: center; /* Centraliza a imagem */  

}

.container-cadastro {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 65px; 
}


    

.container-cadastro h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}





.button-container {
    margin-bottom: 20px;
    
}    






  /* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
    
   
    
    
  }
  
  /* Estilo do helper (mensagens de erro ou ajuda) */
.helper-text {
    display: none;
    color: rgb(236, 4, 4);
    font-size: 13px;
    margin-bottom: 10px;
}

.helper-text.visible {
    display: block;
}

/* Estilo de campos corretos */
input.correct {
    border-color: #28a745;
    background-color: #e6ffed;
}
/* Estilo de campos incorretos */
input.error {
    border-color: #dc3545;
    background-color: #ffe6e6;
}
/* Ajustes de posição do popup */
label.required-popup {
    position: relative;
    
}

label.required-popup::after {
    left: calc(100% + 10px);
    top: 0;
    white-space: nowrap;
   
}

/* Estilização do Footer */
/* Rodapé */
.footer {
    background-color: #f0b70e;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer-content .left, .footer-content .right {
    flex: 1;
}

.footer-content .center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content .social-icons {
    display: flex;
    gap: 1rem;
}

.footer-content .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.footer-content .social-icons svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.app-links a {
    color: white;
    text-decoration: none;
}

.app-links a:hover {
    text-decoration: underline;
}

/* Encontre um artista*/

.title{
    background-image: url('./img/fundo_encontre\ um\ artista.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 0 20px;/* Remover padding superior e inferior */
    color: white;
    text-align: center; /* Centralizar o texto horizontalmente */
    display: flex; /* Usar Flexbox para centralizar o conteúdo verticalmente */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    width: 100%;
    height: 100vh; /* Garante que a altura da seção ocupe 100% da altura da viewport */
    margin: 0; /* Remove qualquer margem extra */
    box-sizing: border-box; 
    transition: transform 0.5s; /* Animação de zoom */

    /* Máscara para criar a transição suave na parte inferior */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
}

.title:hover {
    transform: scale(1.05); /* Zoom ao passar o mouse */
}

.title {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}

/* Container de busca */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaçamento entre os dropdowns e o botão */
    margin: 20px auto; /* Margem ao redor do container */
    max-width: 1000px; /* Largura máxima */
}

.dropdowns {
    display: flex;
    gap: 10px; /* Espaçamento entre os dropdowns */
}

.search-button {
    padding: 10px 20px;
    background-color: #f0b70e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    font-family: 'Poppins', sans-serif;
}

.search-button:hover {
    background-color: #e2b500; 
}

.dropdowns select {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.dropdowns select:focus {
    border-color: #333;
}

/*Fale Conosco*/
.container-fale_conosco {
    background-image: url('img/fale_conosco.jpg');
    background-size: cover; /* Cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 50px; 

}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.contact-form , .form-container{
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #b4b4b4;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Largura do formulário */
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #fff; /* Bordas brancas ao focar */
}





